/** Общие стили */

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1172px;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 15px 37px;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--orange-color);
  transition: opacity 0.3s linear;
}

.btn:hover {
  opacity: 0.9;
}

.price {
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--orange-color);
  margin-bottom: 11px;
}

.price_new {
  margin-right: 3px;
  font-size: 1.25rem;
}

.price_old {
  text-decoration: line-through;
  opacity: 0.5;
}

.social__wrapper{
  display: flex;
  gap: 10px;
}

.social__img{
  width: 15px;
  height: 15px;
}

/** Общие стили / */

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px 0;
  width: 100%;
}

.header__logo {
  width: 54px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__link {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.7;
  transition: opacity 0.3s linear;
}

.header__link:hover {
  opacity: 0.9;
}

.header__link_active {
  font-weight: 700;
  opacity: 1;
}

.welcome {
  padding: 286px 0 249px;
  background: url('../img/welcome-bg.jpg') center center/cover no-repeat;
}

.welcome__container {}

.welcome__wrapper {
  width: 49%;
}

.welcome__subtitle {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.welcome__title {
  font-size: 3.56rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 37px;
}

.welcome__text {
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 42px;
}


.food-list {
  padding: 115px 0 102px;
}

.food-list__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-list__card {
  max-width: 262px;
  min-height: 323px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--second-bg-color);
}

.food-list__card-img {
  margin-bottom: 28px;
  border-radius: 10px 10px 0 0;
}

.food-list__card-title {
  margin-bottom: 13px;
  font-size: 1.25rem;
}

.order {
  padding: 69px 0 53px;
  background-color: var(--second-bg-color);
}

.order__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__img {
  max-width: 472px;
}

.order__content {
  max-width: 469px;
}

.order__title {
  font-size: 2.75rem;
}

.order__text {
  margin: 24px 0 13px;
  padding-right: 100px;
}


.products {
  padding: 150px 0 135px;
}

.products__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.product {
  max-width: 555px;
  width: 100%;
}

.product:nth-child(even) {
  padding: 67px 25% 61px 29px;
}

.product:nth-child(odd) {
  padding: 67px 29px 61px 25%;
}

.product__title {
  font-size: 1.875rem;
}

.product__text {
  margin: 19px 0 11px;
}

.product__btn {
  padding: 12px 39px;
  font-size: 0.75rem;
}

.feedbacks {
  margin-bottom: 194px;
}


.feedbacks__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 851px;
}

.feedbacks__img {
  max-width: 365px;
}

.feedback {
  max-width: 368px;
  text-align: center;
}

.feedback__qoute {
  display: block;
  margin: 37px 0 27px;
  line-height: 1.3;
  opacity: 0.7;
}

.feedback__client {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.feedback__national {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.7;
}

.download-menu {
  padding: 62px 0;
  background-color: var(--second-bg-color);
}

.download-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
}

.download-menu__title {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.footer {
  padding: 125px 0 140px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 74px;
  margin-bottom: 21px;
}

.footer__text {
  margin-bottom: 15px;
  font-size: 0.75rem;
  opacity: 0.8;
}

.footer__contact {
  position: relative;
  padding-left: 22px;
  margin-bottom: 9px;
}

.footer__contact::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 13px;
  height: 13px;
  transform: translateY(-50%);
  content: '';
}

.footer__email::before {
  background: url('../img/icons/mail.svg') center center/contain no-repeat;
}

.footer__site::before {
  background: url('../img/icons/global.svg') center center/contain no-repeat;
}

.footer__title {
  margin-bottom: 16px;
}


@media screen and (max-width: 1180px) {
   .welcome {
    padding: 194px 0;
   }
}